### Type categories

> There are three major type categories in Python: 
    1. Numbers (integer, floats, decimal, fraction etc.)
    2. Sequences: Strings, Lists, tuples
    3. Mappings: Dictionaries
    4. Others are sets, frozensets

The major core types in Python can be broken down as follows: 
   > Immutable types (numbers, strings, tuples, frosensets)
   > Mutable types: Lists, Dictionaries, Sets

In [1]:
res = dict(a=[90,90,78])

In [2]:
res

{'a': [90, 90, 78]}

In [3]:
res['b'] = ['spam','tree',89,53]

In [4]:
res

{'a': [90, 90, 78], 'b': ['spam', 'tree', 89, 53]}

In [6]:
list_res = res['b']

In [7]:
list_res

['spam', 'tree', 89, 53]

In [13]:
str_spam = list_res[0]

In [15]:
str_spam.strip()

'spam'

crete a list from a string

In [18]:
list_str=list(str_spam)

Convert back to ctring

In [19]:
''.join(list_str)

'spam'

##### Slicing Techniques can also be applied

In [23]:
line = 'ACC-INV-2023-001 ADWAR BILLY'

In [24]:
line.split(' ')

['ACC-INV-2023-001', 'ADWAR', 'BILLY']

In [27]:
invoice_number = line.split(' ')[0]
name = line.split(' ')[1:]

In [32]:
customer_name = ' '.join(name)
customer_name

'ADWAR BILLY'

In [34]:
new_line = 'Bob, hacked the news'
new_line.split(',')

['Bob', ' hacked the news']

In [37]:
the_line = "The knights who say Ni!\n"
the_line.upper()

'THE KNIGHTS WHO SAY NI!\n'

In [38]:
the_line.rstrip()

'The knights who say Ni!'

In [40]:
the_line.find('Ni') != -1

True

In [44]:
'Ni' in the_line

True

In [45]:
sub = 'Ni!\n'
the_line.endswith(sub)

True

In [48]:
the_line[-len(sub):] == sub

True

In [50]:
the_line[-4:]

'Ni!\n'

##### String formatting expressions

In [52]:
x = 90.989

In [53]:
"%f | %f is the best %s" % (x, x, 'Number')

'90.989000 | 90.989000 is the best Number'

In [55]:
"%.2f means it has been rounded off" % (x)

'90.99 means it has been rounded off'

> String formatting also allows conversion targets on the left to refer to the keys in a dictionary on the right and fetch 
the corresponding values.

In [87]:
"%(n)f reflects %(x)s" % {"n": 90.723, "x":'spam'}

'90.723000 reflects spam'

In [88]:
"%(n).2f reflects %(x)s" % {"n": 90.723, "x":'spam'}

'90.72 reflects spam'

In [58]:
dict_message = {'name' :'Billy Adwar','party balance':78900,'company':'Oduk Tech'}
dict_message

{'name': 'Billy Adwar', 'party balance': 78900, 'company': 'Oduk Tech'}

In [60]:
"Customer %(name)s has a balance of %(party balance)f in %(company)s" % dict_message

'Customer Billy Adwar has a balance of 78900.000000 in Oduk Tech'

###### Adding keys, attributes, offsets

In [123]:
import sys
'My {1[spam]} runs {0.platform}'.format(sys,{'spam':'laptop'})

'My laptop runs linux'

In [63]:
sys.platform

'linux'

In [68]:
list_str

['s', 'p', 'a', 'm']

In [69]:
'first={0[0]}, third = {0[2]}'.format(list_str)

'first=s, third = a'

##### Adding specific formatting

In [70]:
'{0:10} = {1:10}'.format('spam',123.9723)

'spam       =   123.9723'

In [77]:
'Amount paid is {0:2} {1:2}'.format('Ksh',90000)

'Amount paid is Ksh 90000'

In [84]:
'Amount paid is {0:<10} = {1:10}'.format('Ksh',90000)

'Amount paid is Ksh        =      90000'

In [80]:
'{0.platform: >10} = {1[item]:<10}'.format(sys,dict(item='laptop'))

'     linux = laptop    '

#### Sets

Every element in a set has to be unique

In [89]:
my_set = {78,90,87}
my_set

{78, 87, 90}

In [90]:
isinstance(my_set, set)

True

Tuples

In [92]:
x = (78, 67, 98)

In [94]:
len(x)

3

In [97]:
x.count(78)

1

Tuples are immutable, they can be used to store objects that do not change much such as latitude and longitude values

In [100]:
my_set.add(90)

In [101]:
my_set

{78, 87, 90}

In [108]:
xa = []
for x in range(0,100):
    if x % 2==0: xa.append(x)

##### Membership operators

In [109]:
the_line

'The knights who say Ni!\n'

In [111]:
'kni' in the_line

True

In [112]:
'cat' in 'catography list'

True

In [113]:
67 not in [90,897]

True

In [114]:
67 not in (98,78,67)

False

In [115]:
k = "a\nb\x1f\000d"

In [116]:
len(k)

6

In [118]:
ord('k')

107

### Lists

> Lists are mutable sequences in Python: they can be changed in place, and are ordered sequences

In [119]:
3 in [[3,5],[67,45],90,7]

False

In [122]:
for x in [[3,5],[67,45],90,7]:
    if isinstance(x,list):
        print(x)

[3, 5]
[67, 45]

List compressions are a way to build new lists by applying an expression to each item in a sequence

In [125]:
res = [c*4 for c in 'SPAM']
res

['SSSS', 'PPPP', 'AAAA', 'MMMM']

> The map function works the same but it applies a function to items in a sequence and collects all the results in a new list.

In [127]:
list(map(abs,[-1,-2,0,1,2,3]))

[1, 2, 0, 1, 2, 3]

In [130]:
def get_sqr(x):
    return x*x

def get_pow(x,num):
    return x **num

In [135]:
L = [89,[6534,'SPAM'],'TREE']
L

[89, [6534, 'SPAM'], 'TREE']

In [144]:
L[0:3]

[89, [6534, 'SPAM'], 'TREE']

> Both index and slice operations are in-place changes: they modify the list directly rather than
generating a new list object for the result

In [147]:
L[0:1]= [89,90,78] ## lists can be changes in place by slicing i.e deletion and insertion at the same time

In [148]:
L

[89, 90, 78, 90, 78, [6534, 'SPAM'], 'TREE']

In [161]:
L[-2:-1]

[[6534, 'SPAM']]

In [167]:
K = [12,45,1,9,23,823]
K.sort()

In [168]:
K

[1, 9, 12, 23, 45, 823]

In [169]:
LS = ['abc','ABD','aBe']

In [171]:
sorted([x.lower() for x in LS],reverse=True)

['abe', 'abd', 'abc']

In [172]:
LS.extend([90,78,'abf'])

In [173]:
LS

['abc', 'ABD', 'aBe', 90, 78, 'abf']

In [175]:
LS.pop(-1)

'abf'

In [176]:
LS

['abc', 'ABD', 'aBe', 90, 78]

In [177]:
LS.reverse()

In [178]:
LS

[78, 90, 'aBe', 'ABD', 'abc']

In [179]:
L.insert(1, 'good')

In [180]:
L

[78, 'good', 78, 89, 90, 90, [6534, 'SPAM'], 'TREE']

In [181]:
L.pop()

'TREE'

In [182]:
L

[78, 'good', 78, 89, 90, 90, [6534, 'SPAM']]

In [183]:
L.pop(-1)

[6534, 'SPAM']

In [184]:
L

[78, 'good', 78, 89, 90, 90]

Because they are mutable, we can alsu use the del statement

In [186]:
del L[0]

In [187]:
L

['good', 78, 89, 90, 90]

### Dictionaries

Sometimes called associative arrays or hashes, they are unordered collections of arbitrary objects: they are mutable mappings
but do not support the sequence operations supported by lists and objects

In [188]:
D = {'spam':[67,-0.6232], 'ham':(90,90),'eggs':90}
D

{'spam': [67, -0.6232], 'ham': (90, 90), 'eggs': 90}

In [190]:
list(D.items())

[('spam', [67, -0.6232]), ('ham', (90, 90)), ('eggs', 90)]

In [192]:
list(D.keys())

['spam', 'ham', 'eggs']

In [194]:
list(D.values())

[[67, -0.6232], (90, 90), 90]

In [195]:
D.get('spam')

[67, -0.6232]

In [196]:
D2 = {'res':30,'pixels':[89,[90,76]]}
D2

{'res': 30, 'pixels': [89, [90, 76]]}

In [197]:
D.update(D2)

In [198]:
D

{'spam': [67, -0.6232],
 'ham': (90, 90),
 'eggs': 90,
 'res': 30,
 'pixels': [89, [90, 76]]}

In [199]:
D.pop('eggs')

90

In [200]:
D

{'spam': [67, -0.6232], 'ham': (90, 90), 'res': 30, 'pixels': [89, [90, 76]]}

In [203]:
table = {'Python':'Guido Van Rossum','Perl':'Larry Wall','Tcl':'John Ousterhout','linux':'Linus Torvalds'}

In [204]:
table

{'Python': 'Guido Van Rossum',
 'Perl': 'Larry Wall',
 'Tcl': 'John Ousterhout',
 'linux': 'Linus Torvalds'}

In [206]:
creator = table['Python']
creator

'Guido Van Rossum'

In [209]:
for lang in table: ## same as looping table.keys()
    print(lang,'\t',table[lang])

Python 	 Guido Van Rossum
Perl 	 Larry Wall
Tcl 	 John Ousterhout
linux 	 Linus Torvalds

In [210]:
## dictionaries can alco be constructed using the dict keyword
D3 = dict(name='mel',age=45,courses=['Math','Physics'])
D3

{'name': 'mel', 'age': 45, 'courses': ['Math', 'Physics']}

In [211]:
D3['address'] = '373-00100'

In [212]:
D3

{'name': 'mel',
 'age': 45,
 'courses': ['Math', 'Physics'],
 'address': '373-00100'}

In [213]:
dict([('name','mel'),('age',45)])

{'name': 'mel', 'age': 45}

###### Zip function

In [216]:
get_id1 = [834167,90103]; get_id2 = [90809,73437]

In [218]:
j = list(zip(get_id1,get_id2))

In [220]:
for k in j:
    print(k)

(834167, 90809)
(90103, 73437)

The same concept can be used to create a dictionary:

In [222]:
D4 = dict(zip(['name','address','invoice','location'],['Billy Adwar','272-20200','ACC-SINV-2023-0002','Nairobi']))
D4

{'name': 'Billy Adwar',
 'address': '272-20200',
 'invoice': 'ACC-SINV-2023-0002',
 'location': 'Nairobi'}

### Dictionary Comprehensions

The zip function is a way to construct a dictionary from key and value lists in a single call. If you cannot
predict the sets of keys and values in your code, you can always build them up as lists and zip them together:

In [223]:
list(zip(['tree','spam','ham'],[23,78,[90,89]]))

[('tree', 23), ('spam', 78), ('ham', [90, 89])]

In [224]:
D5 = dict(zip(['tree','spam','ham'],[23,78,[90,89]]))
D5

{'tree': 23, 'spam': 78, 'ham': [90, 89]}

The same can be built in Python using compressions

In [227]:
D6 = {k: v for (k,v) in  zip(['a','b','c'],[1,2,3,4])}
D6

{'a': 1, 'b': 2, 'c': 3}

In [228]:
D7 = {c: c*4 for c in 'SPAM'}
D7

{'S': 'SSSS', 'P': 'PPPP', 'A': 'AAAA', 'M': 'MMMM'}

In [229]:
D

{'spam': [67, -0.6232], 'ham': (90, 90), 'res': 30, 'pixels': [89, [90, 76]]}

In [231]:
D3

{'name': 'mel',
 'age': 45,
 'courses': ['Math', 'Physics'],
 'address': '373-00100'}

In [238]:
Ks = D3.keys()
for k in sorted(Ks): print(k,'      \t', D3[k])

address       	 373-00100
age       	 45
courses       	 ['Math', 'Physics']
name       	 mel

##### Quizes

Illustrate two ways to build a list with 5 integer zeros:

In [239]:
k = [0] * 5
k

[0, 0, 0, 0, 0]

In [241]:
ki = [0,0,0,0,0]
ki

[0, 0, 0, 0, 0]

In [243]:
valdict = dict(a=0,b=0)
valdict

{'a': 0, 'b': 0}

In [245]:
valdict1 = {'a':0,'b':0}
valdict1

{'a': 0, 'b': 0}

Operators that change list object in place: 
    insert,
    append,
    remove,pop, extend,sort

In [246]:
kj = [90,7932,1234]
kj[1:]

[7932, 1234]

In [248]:
kj.insert(1,876)

In [249]:
kj

[90, 876, 7932, 1234]

## Tuples And Files

Tuples, just like lists are ordered collections, only that they cannot be changed in place like lists can be
hence they are immutable. It supports sequence operations just like lists

In [253]:
t = (12,'SPAM',[90,78,65])

In [254]:
t

(12, 'SPAM', [90, 78, 65])

In [257]:
t[1:]

('SPAM', [90, 78, 65])

In [258]:
'SPAM' in t

True

In [259]:
t * 3

(12, 'SPAM', [90, 78, 65], 12, 'SPAM', [90, 78, 65], 12, 'SPAM', [90, 78, 65])

In [261]:
(2,3) + (9,) ## add trailing comma to single object tuple

(2, 3, 9)

In [263]:
t1 = ('cc','aa','dd','bb')
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [264]:
tmp = list(t1)

In [265]:
tmp

['cc', 'aa', 'dd', 'bb']

In [266]:
sorted(tmp)

['aa', 'bb', 'cc', 'dd']

In [268]:
tuple(sorted(t1))

('aa', 'bb', 'cc', 'dd')

In [269]:
T = (1,2,6,90,78)

In [270]:
L1= [x + 20 for x in T]

In [272]:
L1

[21, 22, 26, 110, 98]

List compressions can be used to build new lists and iterate over any sequence objects including tuples, strings & lists.

In [274]:
T.count(2)

1

In [275]:
T.index(2)

1

In [278]:
t[1] = 90 ## This is the case of immutability

TypeError: 'tuple' object does not support item assignment

In [280]:
t[2].append([90,89])

In [285]:
t[2][0] = [12,45,67]
t

(12, 'SPAM', [[12, 45, 67], 78, 65, [90, 89]])

In [286]:
t

(12, 'SPAM', [[12, 45, 67], 78, 65, [90, 89]])

Immutability applies on the top level of the tuple itself, not to its contents

Tuples are used when the ordered collection needs to remain the same, while lists are used when the ordered collection needs to grow and change

## Files

In [300]:
test_file  = open('test_file.txt')
test_file.readlines()
test_file.close()

In [313]:
with open('test_file.txt','r') as text_file:
    text = text_file.readlines()
    
print(text)

['Here we come\n']

File handling modes are such as:
* 'r' to open for text input
* 'w' to create and open for text output
* 'a' top open for appending text to the end
* 'b' for binary data

Adding a + opens the file for both input abd output: you can both read and write to the same file object

In [310]:
spam = "Here we come\n"
with open('test_file.txt','w') as new_file:
    #data = new_file.readlines()
    new_file.write(spam)
#print(data)

* The == operator tests for value equivalence
* The is operator tests for object identity

In [314]:
s1 = 'spam'
s2 = 'spam'

In [315]:
if(s1 == s2): print(True)

True

In [316]:
if(s1 is s2): print(True)

True

In [317]:
set_a = {7,9,'spa,'}

In [322]:
set_a.add(90)

In [323]:
set_a

{7, 9, 90, 'spa,'}

#### Assignments create references, Not Copies

Shared references are important in kniwing what is going on in the Python program

As seen below, the list l is referenced inside another list M. Hence changing l in-place, changes what M references too

In [324]:
l =[1,2,3]

In [325]:
M = ['X',l,'Y']

In [326]:
M

['X', [1, 2, 3], 'Y']

In [329]:
l[0] = 99 ## change a certain value in l

In [330]:
M ## changes M too

['X', [99, 2, 3], 'Y']

In [331]:
tr = (4,5,6)

In [337]:
kh = list(tr)
kh[0] = 1

In [339]:
tuple(kh)

(1, 5, 6)

In [340]:
strin = "This is it"
with open('new_file.txt','w') as file_new:
    file_new.write(strin)

In [342]:
with open('new_file.txt','r') as fl:
    data = fl.readlines()
print(data)

['This is it']

In [352]:
class Dog:
    def __init__(self,name):
        self.name = name
        self.legs = 4
    def speak(self):
        print(self.name + ' Says Yes')

In [386]:
type(Dog('Greener'))

__main__.Dog

In [362]:
my_dg.speak()

Greener Says Yes

In [380]:
def factorials(num):
    if type(num) is not int:
        return None
    if num < 0:
        num = abs(num)
    if num == 0:
        num =1
    i = 0
    f = 1
    while i < num:
        i += 1
        f = f * i
    return f

In [381]:
factorials(-10)

3628800

In [382]:
def factorials_two(num):
    if type(num) is not int:
        return None
    if num < 0:
        num = abs(num)
    if num == 0:
        return 1
    
    return num * factorials_two(num -1) ## we can also use recursive functions to achieve the same

In [385]:
factorials_two(4)

24